body{
    margin:0;
    background:#0b0b0b;
    color:white;
    font-family:Arial, sans-serif;
}

.hero{
    min-height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    padding-left:10%;
}

.brand{
    position:absolute;
    top:30px;
    left:40px;
    font-size:14px;
    color:#888;
}

h1{
    font-size:110px;
    font-weight:300;
    margin:0;
}

p{
    color:#888;
    font-size:18px;
    margin-top:10px;
}

input{
    width:300px;
    padding:15px;
    margin-top:30px;
    background:#111;
    color:white;
    border:1px solid #222;
}

button{
    width:120px;
    padding:15px;
    margin-top:15px;
    background:white;
    color:black;
    border:none;
    cursor:pointer;
}

button:hover{
    opacity:.9;
}

.nav{
padding:30px 50px;
border-bottom:1px solid #1f1f1f;
}

.nav a{
color:white;
text-decoration:none;
margin-right:25px;
font-size:14px;
}

.nav a:hover{
opacity:.6;
}
